{% extends "index.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light mb-4 sticky-top"style="background:rgba(0,0,0,0.9);">
		<div class="container-fluid">
		  <a class="navbar-brand text-light" href="{% url 'admin_home' %}">NS Socorro administration.</a>
		  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon bg-light"></span>
		  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			    	<li class="nav-item dropdown">
			        	<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			         		Community
			        	</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="{% url 'members' %}">Community Members</a>
				          <!--div class="dropdown-divider"></div-->
				        </div>
		      		</li>

		     	    <li class="nav-item active">
					  	<a class="nav-link text-light" href=" {% url 'create_article' %}"> Create article</a>
					</li>
			    </ul>
			    	{% if user.is_authenticated %}
						<ul class="navbar-nav">
					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Hi {{ user.first_name}}  {{ user.last_name}}!
					        </a>
					        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					          <a class="dropdown-item" href="{% url 'password_change' %}"> Change your password </a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="{% url 'profile' %}"> Profile</a>
					          {% if user.is_staff and user.is_authenticated %}
					          	<div class="dropdown-divider"></div>
					          	<a class="dropdown-item" href="{% url 'singup' %}">Create a new user</a>
					          {% endif %}
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item active bg-danger" href="{% url 'logout' %}"> 
					          	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  		<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
							  		<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
								</svg> 

								Logout 
							  </a>
					        </div>
					      </li>
					    </ul>
					{% else %}
						<form class="form-inline my-2 my-lg-0">
							<a href="{% url 'login' %}" class="btn btn-outline-secondary"> Login </a>
				    		<a href="{% url 'signup' %}" class="btn btn-primary ml-2"> Signup </a>
				    	</form>
					{% endif %}
			  </div>
	  	</div>
	</nav>

	<div class="container mt-4">
		<div class="row justify-content-center">
			<div class="col col-md-12 col-lg-6" >
				{% if object_list  %}
					{% for article in object_list %}
						<div class="card">
							<div class="card-header">
								{{ article.title }}
							</div>

						  	<div class="card-body">
						    	<h5 class="card-title">{{ article.publication }}</h5>

						    	{% if user.is_staff and user.is_authenticated %}
						    		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
										Delete article
									</button>

									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">you really want to delete this article?</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">  
										  		If you delete this article, no one will be able to read it anymore, sure you want to continue?
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Yes, delete</a>
									      </div>
									    </div>
									  </div>
									</div>
						    	{% endif %}

						    	{% if user.is_authenticated %}
						    		<a href="{% url 'update_article' pk=article.id %}" class="btn btn-info">Edit article</a>
						    	{% endif %}
							</div>
						</div>
						<br>
					{% endfor %}
				{% else %}
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">The blog don't have any article posted.</h4>
						<p>you can go to create a new article on the navbar.</p>
					</div>
				{% endif %}

				<nav aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				  	{% if page_obj.has_previous %}
				    	<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number}}" aria-label="Previous"><span aria-hidden="true">&laquo; Previous</span></a><li>
				    {% endif %}

				    {% if page_obj.has_next %}
				    	<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a></li>
				    {% endif %}
				  </ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}